<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Phx Blog
      </h1>
      <h2 class="subtitle">
        A blog written in Phoenix.
      </h2>
    </div>
  </div>
</section>
