<div class="content">
  <h1><%= @post.title %></h1>

  <p><%= @post.publish_date %></p>

  <%= as_html(@post.content) %>

  <h2>Comments</h2>
  <%= for comment <- @post.comments do %>
    <p>
      <strong><%= comment.author %></strong>
    </p>
    <p><%= comment.body %></p>
  <% end %>

  <%= render PhxBlogWeb.CommentView, "new.html", conn: @conn, post: @post, comment_changeset: @comment_changeset %>
</div>
