<div class="content">
  <h1><%= @post.title %></h1>

  <p><%= @post.publish_date %></p>

  <%= as_html(@post.content) %>

  <%= render PhxBlogWeb.CommentView, "new.html", conn: @conn, post: @post, comment_changeset: @comment_changeset %>
  <%= live_render(@conn, PhxBlogWeb.CommentsLive, session: %{post_id: @post.id}) %>
</div>
